<h2>Hello {{user.name}}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Track Your Progress</a>
  </li>
</ul>


<form class="selection-form" action="/">
  <select class="form-control">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
  </select>
  {{!-- <br><br>
  <input type="submit"> --}}
</form>

<form id="create" action="/">
    Create your own course here <br>
    <input type="text" name="coursename" value="Enter course name">
</form>

<div class="classes">
    <ul>
       {{#each}}
       <li>{{course.name}}</li>
       {{/each}}
    </ul>
</div>

<div class="container">
    <div class="course-list">
        <div class="row">
            <div class="col">
                <h3>Classes In-Progress</h3>
            </div>
            <div class="col">
                <h3>Pending Submissions</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <ul>
                {{#each}}
                    <li>{{course.description}}</li>
                {{/each}}
                </ul>    
            </div> 
            <div class="col">
                <div class="form-check">
                    <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    <input class="form-check-input" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    </label>
                </div>    
            </div>                       
        </div>
    </div>
</div>