<h1>Listened to Songs</h1>

<ul>
  {{#each songs}}
    {{#unless listened}}
      {{> songs/song-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each songs}}
    {{#if listened}}
      {{> songs/song-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Song</h2>
<form class="create-form" method="post" action="???">

  <div class="form-group">
    <label for="ca">Song Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Listened to?</label><br>
    <input type="radio" name="listened" value="1" checked> Yes<br>
    <input type="radio" name="listened" value="0"> No
  </div>

  <button type="submit">Add Song</button>
</form>
