<h2>Hello {{user.name}}</h2>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign Up</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Track Your Progress</a>
  </li>
</ul>


<form id="selection-form" action="/">
  <select name="courses">
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
    <option value=""></option>
  </select>
  {{!-- <br><br>
  <input type="submit"> --}}
</form>

<form id="create" action="/">
    Create your own course here <br>
    <input type="text" name="coursename" value="Enter course name">
</form>

<div class="classes">
    <ul>
       {{#each}}
       <li>{{course.name}}</li>
       {{/each}}
    </ul>
</div>