.nav-tabs{
  background-color: #F0ECEC;
}
.nav-link{
  color: #726F6F;
}
.dropdown{
  margin-left: 5%;
}
.dropdown-toggle{
  background-color: #7FD3EC;
}
#create{
  margin-left: 5%;
}
.btn{
  background-color: #7FD3EC;
}
.classes{
  margin-left: 5%;
}